header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: #4b1df2;
    position: fixed;
    top: 0;
    left: 0;
    right: 7.5px;
    z-index: 2;
    color: white;
}
a{
    color: white;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: 80px;
}
#logo{
    height: 120px;
    width: 160px;
    background-color: #4b1df2;
     margin: -10px 0 10px 20px; 
}
main{
    width: 1200px;
    margin-left: 12%;
    margin-top: 300px;
    margin-bottom: 110px;
}
h1{
    margin-left: 40%;
    margin-top: 80px;
}
footer{
    height: 150px;
    width: 1470px;
    background-color: #4218d9;
    color: white;
    
}
#contact{
    float: right;
    margin-right: 50px;
    font-size: 18px;
    margin-top: 5px;
  }

  #foot{
    position: absolute;
    height: 100px;
    margin-left: 10px;
    margin-top: 20px;
  }
#play{
    position:absolute;
    height: 35px;
    margin-left: 150px;
    margin-top: 50px;
  }
h6{
position: absolute;
top: 540px;
left: 45%;
}