body{
    font-size: 24px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: #4754ff;
    position: fixed;
    top: 0;
    left: 0;
    right: 7.5px;
    z-index: 2;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: 80px;
}
#logo{
    height: 120px;
    width: 160px;
    background-color: #4754ff;
     margin: -10px 0 10px 20px; 
}
.image{
    position: absolute;
    top: 940px;
    left: 160px;
   
}
#avatar_img{
    margin-top: -26px;
    height: 310px;
    background-color: aqua;
    padding: 20px;
    
}
a{
    color: white;
}
/* #avatar_img:hover{
    height: 350px;
} */
img#park_place{
    margin-left: 11px;
    margin-top: 150px;
    height: 700px;
    width: 1450px;

}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 460px;
    background-color: aqua;
    height: 350px;
    width: 900px;
}
#left-side{
    display: flex;
    flex-direction: column;
    height: 200px;
}
#left-side .ph{
    margin-top: 52px;
}
#right-side{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 200px;
    width: 300px;
}
footer{
    height: 200px;
    width: 1470px;
    background-color: #4218d9;
    color: white;
    
}
#contact{
    float: right;
    margin-right: 50px;
    font-size: 18px;
    margin-top: 5px;
  }

  #foot{
    position: absolute;
    height: 100px;
    margin-left: 10px;
    margin-top: 20px;
  }
#play{
    position:absolute;
    height: 35px;
    margin-left: 150px;
    margin-top: 50px;
  }
h6{
position: absolute;
top: 1430px;
left: 45%;
}