body{
    font-size: 20px;
}

header{
display:flex;
justify-content: space-between;
height: 115px;
background-color: #4b1df2;
position: fixed;
top: 0;
left: 0;
right: 7.5px;
z-index: 2;
color: white;
}
a{
color: white;
text-decoration: none;
}
#nav{
display: flex;
justify-content: space-between;
align-items: center;
width: 500px;
margin-right: 80px;
font-family: 'Luckiest Guy', cursive;
letter-spacing: 2px;
}
#logo{
height: 120px;
width: 160px;
background-color: #4b1df2;
 margin: -10px 0 10px 20px; 
}
a#link1{
left: 410px;
position: relative;

}
#thumb{
    margin-left: 6%;
    height: 240px;
    animation-name: emoji;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes emoji{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-20deg)}
    60%{transform: rotate(-10deg)}
    70%{transform: rotate(-5deg)}
    80%{transform: rotate(0deg)}
    90%{transform: rotate(10deg)}
}
.main_container{
    margin-top: 180px;
    margin-left: 40%;
    margin-bottom: 158px;
}
h1{
    margin-left: -15%;
}
h3{
    margin-left: -3%;
}
footer{
    height: 180px;
    width: 1470px;
    background-color: #4218d9;
    color: white;   
}
#contact{
    float: right;
    margin-right: 50px;
    font-size: 18px;
    margin-top: 5px;
  }

  #foot{
    position: absolute;
    height: 100px;
    margin-left: 10px;
    margin-top: 20px;
  }
#play{
    position:absolute;
    height: 35px;
    margin-left: 150px;
    margin-top: 50px;
  }
h6{
position: absolute;
top: 835px;
left: 42%;
}