body{
    font-size: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: #4b1df2;
    position: fixed;
    top: 0;
    left: 0;
    right: 7.5px;
    z-index: 2;
}
#accep{
    border: 1px solid black;
    color: black;
    padding: 10px;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: 80px;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
}
#logo{
    height: 120px;
    width: 160px;
    background-color: #4b1df2;
     margin: -10px 0 10px 20px; 
}
#imag{
    height: 200px;
}
.profile_box{
    border: 1px solid black;
    margin-top: 200px;
    padding: 30px;
    margin-left: 290px;
    height: 290px;
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.history{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    width: 400px;
    margin-left: 10px;
}
.main_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
footer{
    height: 200px;
    width: 1470px;
    background-color: #4218d9;
    color: white;
    
}
#contact{
    float: right;
    margin-right: 50px;
    font-size: 18px;
    margin-top: 5px;
  }

  #foot{
    position: absolute;
    height: 100px;
    margin-left: 10px;
    margin-top: 20px;
  }
#play{
    position:absolute;
    height: 35px;
    margin-left: 150px;
    margin-top: 50px;
  }
h6{
position: absolute;
top: 1510px;
left: 45%;
}