header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 1500px;
    background-color: #4b1df2;
    position: fixed;
    top: 0;
    left: 0;
    right: 7.9px;
    z-index: 2;
    color: white;
}
#link1{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}
#link1:hover{
    color: #4b1df2;
    background-color: white;
    display: inline;
    padding: 1.5px;   
}
#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin-right: 80px;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
}
#logo{
    height: 120px;
    width: 160px;
    background-color: #4b1df2;
     margin: -10px 0 10px 20px; 
}
label{
    font-size: 28px;
}
input{
    height: 30px;
    width: 200px;
}
#park1{
    height: 250px;
    width: 400px;
}
#park2{
    height: 250px;
    width: 400px;
}
.images{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 100px;
}
#head{
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}
h3{
    font-size: 27px;
    position: absolute;
}
.request_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    height: 770px;
    padding-right: 300px;
    margin-bottom: 12px;
    margin-left: 223px;
    border: 1px solid black;
    transform: skewX(4deg);
    background-color: #f2f2f2;
}
form{
    margin-left: 60px;
}
#p_tag{
    font-size: 30px;
    margin-left: 60px;
}
main{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
}
button{
    text-decoration: none;
    margin-left: 290px;
    color: #4218d9;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20%;
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: #4b1df2;
}
footer{
    margin-top: -12px;
    height: 150px;
    width: 1475px;
    background-color: #4218d9;
    color: white;
    
}
#contact{
    float: right;
    margin-right: 50px;
    font-size: 18px;
    margin-top: 5px;
}

#foot{
    position: absolute;
    height: 100px;
    margin-left: 10px;
    margin-top: 20px;
}
#play{
    position:absolute;
    height: 35px;
    margin-left: 150px;
    margin-top: 50px;
}
h6{
position: absolute;
top: 1000px;
left: 45%;
}