body{
    background-color: #f2f2f2;
    font-size: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: #4b1df2;
    position: fixed;
    top: 0;
    left: 0;
    right: 7.5px;
    z-index: 2;
    color: white;
}
#psw{
    color: black;
}
a{
    color: white;
    text-decoration: none;
}
#link1{
    color: white;
}
#link1:hover{
    color: #4b1df2;
    background-color: white;
    display: inline;
    padding: 1.5px;   
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-left: 10px;
    position: relative;
    left: 700px;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
}
#logo{
    height: 120px;
    width: 160px;
    background-color: #4b1df2;
     margin: -10px 0 10px 20px; 
}
h2{
    position: absolute;
    top: 400px;
    left: 130px;
    color: black;
    line-height: 50px;
    font-family: 'Oswald', sans-serif;
}
.avatar{
    height: 100px;
    width: 100px;
}
.avatar{
    
    border-radius: 50px;
}
form{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 25px;
    height: 600px;
    width: 350px;
    margin:150px auto;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation-name: dropin;
    animation-duration: 3s;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@keyframes dropin{
    0%{transform: translateY(-350px); }
    50%{transform: translateY(0px);}
}
div.container1{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input{
    animation-name: slid;
    animation-duration: 2s;
}
@keyframes slid{
    0%{transform: translateX(650px); }
    50%{transform: translateX(0px);}   
}
button{
    width: 100px;
    margin-left: 55px;
    animation-name: slide;
    animation-duration: 2s;
}
@keyframes slide{
    0%{transform: translateX(-750px); }
    50%{transform: translateX(0px);}
}
#cancelbtn{
    color: red;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
}
#box{
    height: 40px;
    width: 200px;
}