body{
    background-color: #f2f2f2;
    font-size: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 1480px;
    background-color: #4b1df2;
    position: fixed;
    top: 0;
    /* left: 0;
    right: 7.9px; */
    z-index: 2;
    color: white;
}
#nav a{
    text-decoration: none;
    color: white;
    padding: 6px 15px;
}
#nav a:hover{
    background-color: white;
    color: #4b1df2;
    display: inline;
    padding: 6px 15px;  
    border-radius: 5px;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: 80px;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
}
main{
    display: flex;
    flex-direction: row;
}
img#logo{
    height: 105%;
    width: 90%;
    background-color: #4b1df2;
     margin: -10px 0 10px 20px; 
}
.avatar-img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.formm{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 25px;
    height: 600px;
    width: 350px;
    margin:150px auto;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation-name: dropin;
    animation-duration: 3s;
}
@keyframes dropin{
    0%{transform: translateY(-350px); }
    50%{transform: translateY(0px);}
}
#forgot-password{
    color: black;
}
a{
    color: white;
    text-decoration: none;
}

.content-leftside{
    /* position: absolute;
    top: 400px;
    left: 130px; */
    margin-top: 27%;
    margin-left: 10%;
    color: black;
    line-height: 50px;
    font-family: 'Oswald', sans-serif;
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.container2{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input{
    animation-name: slid;
    animation-duration: 2s;
}
@keyframes slid{
    0%{transform: translateX(650px); }
    50%{transform: translateX(0px);}   
}
button{
    width: 100px;
    margin-left: 55px;
    animation-name: slide;
    animation-duration: 2s;
}
@keyframes slide{
    0%{transform: translateX(-750px); }
    50%{transform: translateX(0px);}
}
#cancelbtn{
    color: red;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
}
#box{
    height: 40px;
    width: 200px;
}


@media only screen and (max-width: 600px){
    header{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 13%;
        width: 100%;
    }
    #nav{
        display: flex;
        flex-direction: column;
    }
    .content-leftside{
        display: flex;
        margin-top: 45%;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .formm{
        margin-top: 30%;
    }
    img#logo{
        height: 100%;
        width: 150%;
    }
    

}