html{
    scroll-behavior: smooth;
}
body{
    width: fit-content;
    font-size: 20px;
    background-color: #f2f2f2;
    
} 
a{
    color: white;
    text-decoration: none;
}
h4{
    font-family: 'Barlow Condensed';
    font-size: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 1480px;
    background-color: #4b1df2;
    position: fixed;
    top: 0;
    left: 0;
    right: 7.9px;
    z-index: 2;
    color: white;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: 80px;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
}
#logo{
    height: 120px;
    width: 160px;
    background-color: #4b1df2;
     margin: -10px 0 10px 20px; 
}
.head{
    position: absolute;
    top: 35%;
    left: 10%;
   color: white;
}
#link1{
    text-decoration: none;
}
#search a{
    text-decoration:none ;
}
h3{
    color: white;
    /* text-decoration: none; */
    border: 1px solid black;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    margin-left: 49%;
    padding: 5px 2px 15px 15px;
    background-color: black;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes blink{
    0%{transform: scale(1);}
    50%{transform: scale(1.4);}

}
h3:hover{
    color: #000000;
    background-color: white;
}
main{
    background-color: #696969;
    background-image: url("../Images/background1.png");
    background-blend-mode: multiply;
    height: 600px;
    width: 1280px;
    position: absolute;
    top: 17%;
}
h1{
    margin-left: 100px;
    font-family: 'Unbounded', cursive;
}
h2{
    
    margin-left: 33%;

}
.child1{
    width: 950px;
    height: 300px;
    position: absolute;
    top: 120%;
    left: 10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
img#gif{
    height: 250px;
    width: 350px;
    border-radius: 30px;
}
img#gif1{
    height: 250px;
    width: 350px;
    border-radius: 30px;
}
.child2{
    width: 950px;
    height: 350px;
    position: absolute;
    top: 170%;
    left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.faq{
    position: absolute;
    top: 230%;
    left: 3.4%;
    border: 1px solid black;
    border-radius: 20px;
    width: 1100px;
    padding-left: 90px;
    background-color: #7d6bf2;
}
#faq{
    font-size: 25px;
    color: white;
    margin-left: 32%;
}
#faq::after{
    content: '';
    height: 5px;
    background-color: black;
    display: block;
    width: 285px;
}
#note{
    margin-left: 30%;
    word-spacing: 4px;
}
#road{
    border: 1px solid black;
    height: 2900px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    margin-left: 1290px;
    
}
/* #road_border_line1{
    border: 3px solid white;
    height: 2800px;
    position: absolute;
    top: 100px;
    right: 30px;
    z-index: 1;
}
#road_border_line2{
    border: 3px solid white;
    height: 2800px;
    position: absolute;
    top: 100px;
    right: 175px;
    z-index: 1;
} */
#sr{
    border: 1px solid black;
    height: 40px;
    width: 10px;
    background-color: white;
}
img#car{
    background-color: black;
    height: 95px;
    width: 70px;
    position: fixed;
    top: 150px;
    /* bottom: 60px; */
}
footer{
    height: 200px;
    width: 1472px;
    background-color: #4218d9;
    color: white;
}
.feedback{
    height: 100px;
    position: absolute;
    top: 430%;
    left: 5%;
}
button{
    position: relative;
    top: -16px;
    right: 119px;
    padding: 10px;
}
label#feedback{
    position: relative;
    bottom: 55px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: grey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    color: #000000 , #ffffff ; 
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }

  /* textarea{
    resize: none;
  }

  .contact{
    float: right;
    font-size: 18px;
    margin-top: 70px;
  } */
  #paragrap{
    position: relative;
    top: 10px;
    left: 20px;
  }
#drop{
    position: relative;
    left: -50px;
    top: 8px;
    opacity: 1;

}
#questions{
    height: 150px;
}
#question1{
    height: 150px;
    position: relative;
    bottom: 50px;
}
#question2{
    height: 150px;
}
#question3{
    height: 150px;
}
#question4{
    height: 320px;
}
#questions label{
    position: relative;
    right: 20px;
}
#questions p{
    display: none;
}
#questions input:checked ~ p{
    display:block;
}
label#q1{
    position: relative;
    top: 10px;
    left: -19px;
    color: white;
}
#drop1{
    position:relative;
    top: 7px;
    right: 50px;
    opacity: 1;
}
#question1 label{
   margin-bottom: 20px;
}
#question1 p{
    position: relative;
    top:30px;
    display: none;
}
#question1 input:checked ~ p{
    display:block;
}
label#q2{
    position: relative;
    top: 10px;
    right: 20px;
    color: white;
}
p#paragrap1{
    position: relative;
    margin-top: 5px;
    left: 25px;
  }
input#drop2{
    position: relative;
    left: -48px;
    top: -85px;
    opacity: 1;
}
#question2 label{
    position: relative;
    top: 80px;
}
#question2 p{
    position: relative;
    top:70px;
    display: none;
}
#question2 input:checked ~ p{
    display:block;
}
label#q3{
    position: relative;
    right: 20px;
    top: -85px;
    color: white;
}
p#paragrap2{
    position: relative;
    top: -90px;
    left: 30px;
  }
  input#drop3{
    position: relative;
    left: -48px;
    top: -105px;
    opacity: 1;
}
#question3 label{
    position: relative;
    top: 140px;
}
#question3 p{
    position: relative;
    top:110px;
    display: none;
}
#question3 input:checked ~ p{
    display:block;
} 
label#q4{
    position: relative;
    right: 20px;
    top: -105px;
    color: white;
}
p#paragrap3{
    position: relative;
    top: -110px;
    left: 30px;
  }
  input#drop4{
    position: relative;
    left: -48px;
    top: -145px;
    opacity: 1;
}

/* #question4 label{
    position: relative;
    top: 70px;
} */
#question4 p{
    position: relative;
    top:150px;
    display: none;
}
#question4 #mindmap{
    display: none;
}
#question4 input:checked ~ p{
    display:block;
} 
#question4 input:checked ~ #mindmap{
    display: block;
}
label#q5{
    position: relative;
    right: 20px;
    top: -145px;
    color: white;
}
p#paragrap4{
    position: relative;
    top: -145px;
    left: 20px;
  }
#mindmap{
    height: 305px;
    position: relative;
    bottom: 130px;
    width: 660px;
}
  textarea{
    resize: none;
    margin-left: -240px;
  }
  #name{
    position: relative;
    bottom: 150px;
    right: -290px;
    height: 40px;
    width: 264px;
  }
  #email{
    position: relative;
    bottom: 150px;
    right: -300px;
    height: 40px;
    width: 240px;
  }
  form.feedback{
    height: 300px;
    margin-left: 20px;
  }
h5{
    position:absolute;
    bottom: 310px;
    left: 497px;
    font-size: 34px;
}
#contact{
    float: right;
    margin-right: 50px;
    font-size: 18px;
    margin-top: 5px;
}
#foot{
    position: absolute;
    height: 100px;
    margin-left: 10px;
    margin-top: 20px;
}
#play{
    position:absolute;
    height: 35px;
    margin-left: 150px;
    margin-top: 50px;
}
h6{
position: absolute;
top: 3060px;
left: 5%;
}
.name{
    float: right;
    margin-top: 150px ;
    margin-right: -240px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}