html {
    scroll-behavior: smooth;

}

body {
    width: fit-content;
    font-size: 20px;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 1500px;
    background-color: #756de7;
    position: fixed;
    top: 0;
    left: 0;
    right: 7.9px;
    z-index: 2;
    color: white;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: 80px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

#nav a {
    text-decoration: none;
    color: white;
    padding: 6px 15px;
}

#nav a:hover {
    background-color: white;
    color: #4b1df2;
    display: inline;
    padding: 6px 15px;
    border-radius: 5px;
}

#head_logo {
    height: 120px;
    width: 160px;
    background-color: #756de7;
    margin: -10px 0 10px 20px;
}

.head_line {
    position: absolute;
    top: 35%;
    left: 20%;
    color: white;
}

h1 {
    margin-left: 100px;
    font-family: 'Unbounded', cursive;
}

h2 {
    word-spacing: 2px;
    margin-left: 29%;

}

#search a {
    text-decoration: none;
}

h3 {
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    margin-left: 49%;
    padding: 5px 2px 15px 15px;
    background-color: black;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

h3:hover {
    color: #000000;
    background-color: white;
}

@keyframes blink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

}

a {
    color: white;
    text-decoration: none;
}

main {
    background-color: #696969;
    background-image: url("../Images/background1.png");
    background-blend-mode: multiply;
    height: 600px;
    width: 1340px;
    margin-left: -1%;
    position: absolute;
    top: 17%;
}
.fq1{
    border: 2px ;
    /* position: absolute;
    top: 150%;
    left: 8%; */
    margin-top: 10%;
    margin-left: 10%;
    height: 25%;
    width: 30%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
    box-shadow: rgba(105, 43, 221, 0.4) 5px 5px, rgba(105, 43, 221, 0.3) 10px 10px, rgba(105, 43, 221, 0.2) 15px 15px, rgba(105, 43, 221, 0.1) 20px 20px, rgba(105, 43, 221, 0.05) 25px 25px;
  }
  .fq2{
    border: 2px;
    /* position: absolute;
    top: 180%;
    left: 50%; */
    margin-top: 12%;
    margin-left: 50%;
    height: 25%;
    width: 33%;
    border-bottom-right-radius: 30px;
    padding: 10px;
    box-shadow: rgba(105, 43, 221, 0.4) -5px 5px, rgba(105, 43, 221, 0.3) -10px 10px, rgba(105, 43, 221, 0.2) -15px 15px, rgba(105, 43, 221, 0.1) -20px 20px, rgba(105, 43, 221, 0.05) -25px 25px;
  }
 
  h4 {
    font-family: sans-serif;
    font-size: 20px;
  }
  
  #content2{
    margin-top: 5%;
    line-height: 60px;
    width: 550px;
    
  }
  .child2 {
    width: 1340px;
    height: 380px;
    margin-left: -1%;
    margin-top: 65%;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid black; */
    background-color: #f2f2f2;
    
  }
  
  img#gif2{
    height: 250px;
    width: 350px;
    border-radius: 30px;
    margin-top: 5%;
    margin-left: 3%;
  }
  #rt{
    margin-top:12%;
    margin-left: 35%;
    position: absolute;
    /* border: 1px solid black; */
    padding: 5px;
    /* padding-left: 30px; */
    padding-right: 530px;
    background-color: #f2f2f2;
    box-shadow: rgba(105, 43, 221, 0.4) 0px 5px, rgba(105, 43, 221, 0.3) 0px 10px, rgba(105, 43, 221, 0.2) 0px 15px, rgba(105, 43, 221, 0.1) 0px 20px, rgba(105, 43, 221, 0.05) 0px 25px;
  }
  #rod{
    margin-left: 20%;
    margin-top: 29%;
  }
  img #rd{
    width: 800px;
    height: 170px;
    
  }
  img#loct{
    margin-top: 495px;
    height: 70px;
    width: 70px;
    position: absolute;
    /* top: 313%;  */
    margin-left: 140px;
  }
  #stp1{
    margin-top: 39%;
    margin-left: 7%;
    position: absolute;
  }
  img#loct1{
    margin-top: 380px;
    height: 70px;
    width: 70px;
    margin-left: 170px;
    position: absolute;
    /* top: 240%; */
    left: 20%;
  }
  #stp2{
    margin-top: 30%;
    margin-left: 27%;
    position: absolute;
  }
  img#loct3{
    margin-top: 630px;
    height: 70px;
    width: 70px;
    position: absolute;
    /* top: 172%; */
    left: 22%;
    margin-left: 355px;
  }
 
  #stp3{
    margin-top: 47%;
    margin-left: 40%;
    position: absolute;
  }
  img#loct2{
    margin-top: 570px;
    height: 70px;
    width: 70px;
    position: absolute;
    /* top: 235%; */
    left: 65%;
    margin-left: 60px;
  }
  #stp4{
    margin-top: 44%;
    margin-left: 65%;
    position: absolute;
  }
 
 
 
  div#loction{
   margin-bottom: 100px;
  
  
  }
  .child1 {
    width: 1340px;
    height: 380px;
    margin-left: -1%;
    margin-top: 15%;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid black; */
    background-color: #f2f2f2;
  }
  img#gif1{
    height: 250px;
    width: 350px;
    border-radius: 30px;
    margin-top: 5%;
    margin-left: 3%;
  }
  #content1{
    margin-top: 5%;
    line-height: 60px;
    width: 550px;
    
  }
  .fq3{
    border: 2px;
    margin-top: 10%;
    margin-left: 10%;
    /* position: absolute;
    top: 490%;
    left: 8%; */
    height: 25%;
    width: 30%;
    border-bottom-right-radius: 30px;
    padding: 10px;
    box-shadow: rgba(105, 43, 221, 0.4) 5px 5px, rgba(105, 43, 221, 0.3) 10px 10px, rgba(105, 43, 221, 0.2) 15px 15px, rgba(105, 43, 221, 0.1) 20px 20px, rgba(105, 43, 221, 0.05) 25px 25px;
  }
  .fq4
  {
    border: 2px;
    margin-top: 10%;
    margin-left: 50%;
    /* position: absolute;
    top: 525%;
    left: 55%; */
    height: 25%;
    width: 34%;
    border-bottom-right-radius: 30px;
    padding: 10px;
    box-shadow: rgba(105, 43, 221, 0.4) -5px 5px, rgba(105, 43, 221, 0.3) -10px 10px, rgba(105, 43, 221, 0.2) -15px 15px, rgba(105, 43, 221, 0.1) -20px 20px, rgba(105, 43, 221, 0.05) -25px 25px;
  }

  div.feed{
    /* border: 2px solid black;
    background-color: #f2f2f2;
    margin-top: 10%;
    width: 100%;
    height: 90%;
    margin-left: -1%; */
   
  }
  h5{
    font-size: 25px;
    margin-top: -5%;
    margin-left: -5%;

  }
form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15%;
  border: 2px solid black;
  margin-left: 30%;
  padding: 8%;
  background-color: #f2f2f2;
}
label{
  margin-top: 10px;
}
input#feedname{
  width: 40%;
  height: 50%;
}
a#btn{
  border: 2px solid black;
  color: #000000;
  padding: 5px;
  margin-left: 40%;
  position: absolute;
  margin-top: -5%;
}
  #lgo{
    height: 100px;
  }
footer{
  background-color: #4b1df2;
  margin-top: 4.2%;
  height: 200px;
  width: 1480px;
}

#road {
    border: 1px solid black;
    height: 4778px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    margin-left: 1318px;
    position: absolute;
    top: -10%;

}

#bar {
    border: 1px solid black;
    height: 40px;
    width: 10px;
    background-color: white;
}

img#car {
    background-color: black;
    height: 95px;
    width: 70px;
    position: fixed;
    top: 150px;
}



::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    color: #000000, #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
} 