*{
    /* padding: 0;*/
    margin: 0; 
}
header {
    display: flex;
    justify-content: space-between;
    height: 130px;
    width: 1500px;
    background-color: #0d131f;
    position: fixed;
    top: 0;
    left: 0;
    right: 7.9px;
    z-index: 2;
    color: white;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-top: -4%;
    margin-left: 60%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

#nav a {
    text-decoration: none;
    color: white;
    padding: 6px 15px;
    cursor: pointer;
}
#nav a:hover {
    background-color: #0182ff;
    color: white;
    display: inline;
    padding: 6px 15px;
    border-radius: 5px;
}

.respons_nav{
    display: none;
}

#head_logo {
    height: 90px;
    width: 120px;
    background-color: #0d131f;
    margin: 10px 0 10px 80px;
}
main{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
}
.images{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 100px;
}
#heading{
    font-size: 33px;
    /* text-align: center; */
    margin-left: 8%;
    margin-top: 6%;
    color: black;
}
#parking-image1{
 
    margin-bottom: 20%;
}
.imag{
    margin-top: 6%;
    margin-left: 4%;
}
.leaser_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 530px;
    height: 650px;
    padding-right: 300px;
    margin-bottom: 100px;
    margin-left: 60%;
    margin-top: -33%;
    border-top-left-radius: 60px;
    border: 3px solid #0182ff;
    background-color: #f2f2f2;
    color: black;
}
#name-number{
    font-size: 22px;
    margin-left: 60px;
    margin-top: -37%;
}
form{
    margin-left: 60px;
    margin-top: 10%;
}
#request-btn{
    margin-top: 50%;
    margin-left: 83%;
}
#amount{
    width: 180%;
    margin-top: -15%;
}
button#ques{
    /* position: absolute;
    bottom: 16.9%;
    right: 30.9%; */
    width: 50%;
    margin-left: 20%;
    margin-top: -70%;
    font-weight: 700;
}
.money{
    margin-left: 85%;
    margin-top: -10%;
    transform: scale(1.6);
}
h3{
    font-size: 27px;
    position: absolute;
}
label{
    font-size: 28px;
    margin-top: -100%;
}
input{
    height: 30px;
    width: 200px;
    border-radius: 10px;
    margin-top: 1%;
}

button{
    text-decoration: none;
    margin-left: 190px;
    margin-top: 105px;
    color: #0182ff;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20%;
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: #0182ff;
}

#foot{
    margin-top: 10%;
    background-color: #0d1e38;
    padding: 3%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#flogo{
    height: 60%;
    width: 32%;
}
#contact{
    margin-left: -35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#flt{
    height: 60%;
    width: 20%;
}
#ct{
    float: right;
    margin-left: -10%;
}
h5#ftc{
    /* float: right; */
    margin-top: -29%;
    margin-left: 40%;
}
h5#fc{
    float:right;
    margin-top: -47%;
}
#ftnav a{
    color: white;
    text-decoration: none;
}
#ftnav{
    display: flex;
    flex-direction: column;
}
#blk{
    background-color: black;
    border: 2px solid black;
    padding: 2%;
}


@media only screen and (max-width: 800px){
    header{
        width: 100%;
        height: 27%;
        z-index: 3;
    }
    #head_logo{
        transform: scale(1.1);
        margin-top: 20%;
        margin-left: 10%;
    }
    #nav{
        display: none;
    }
    #bttn{
        position: relative;
        /* top: -190%; */
        left: 85%;
        color: white;
        /* z-index: 5; */
    }
    .respons_nav{
        display: block;
        margin-left: auto;
        font-size: 24px;
        z-index: 5;
        color: white;
        margin-right: 10px;
        margin-top: -35%;
        position: relative;
    }
    .respons_nav:hover .menu-list{
        visibility: visible;
    }
    .menu-list a{
        display: block;
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin: 10px 0px 10px 10px;
        font-weight: 100;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .menu-list a:hover{
        color: skyblue;
    }
    .menu-list{
        visibility: hidden;
        position: absolute;
        top: 10px;
        right: 70px;
        width: 100px;
        height: 315%;
        /* background-color: skyblue;  */
        border-radius: 5px;
        box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.5);
    }
    #heading{
        width: 240%;
    }
    #parking_image1{
        margin-left: -7%;
    }
    .images{
        transform: scale(.8);
        margin-left: 5%;
        margin-top: 66%;
    }
    .leaser_detail{
        transform: scale(.7);
        margin-left: -30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 285%;
    }
    main{
        display: flex;
        flex-direction: column;
        width: 45%;
    }
    .money{
        width: 25%;
        margin-left: 90%;
    }
    #amount{
        margin-top: -40%;
    }
    #request-btn{
        margin-left: 130%;
        color: white;
    }
    #ques{
        margin-left: 1%;
        color: white;
    }
    button{
        transform: scale(1);
        color: white;
        background-color: #0182ff;
    }
    #ftnav{
        display: none;
    }
    #foot{
        width: 100%;
        display: flex;
        height: 200%;
    }
    #contact,#fc,#ftc{
        transform: scale(1);
        margin-left: 1%;
    }
    #flt{
        margin-left: -20%;
    }
    #park{
        display: none;
    }
}